@use "../utils/variables.scss";

* {
    margin: 0;
    padding: 0;
    outline: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: variables.$font-face;
    background-color: variables.$landingPage-background-color;
    color: variables.$main-font-color;
    margin: 0 auto;
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

body::-webkit-scrollbar {
    display: none;
}

.container {
    width: 70vw;
    height: 70vh;
    display: grid;
    grid-template-columns: 25% 75%;
    grid-template-rows: 15% 75% 10%;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
}

header {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    width: 100%;
    background-color: lightblue;
    box-shadow: 0 1px 10px #000;
    z-index: 4;
    background-image: url('/src/assets/img/header-background.png');
    background-repeat: repeat-x;
    background-size: contain;
}

.logo {
    background-image: url('/src/assets/img/header-math-cube.png');
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 100%;
    min-width: 724px;
}

nav {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    padding: 25px;
    background-color: rgb(145, 221, 253);
    box-shadow: 1px 0 10px #000;
    z-index: 3;
}

main {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    background-color: rgb(165, 236, 254);
    padding: 35px;
    display: inline;
}

footer {
    grid-column: 1 / 3;
    grid-row: 3 / 4;
    background-color: rgb(145, 221, 253);
    box-shadow: 0 -1px 10px #000;
    z-index: 4;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 25px;
}

.select-text {
    margin: 0 5px 0 10px;
    color: #000;
    font-size: .7rem;
}

label {
    color: #000;
    margin: 0 10px 0 0;
}

select, 
input {
    font-family: variables.$font-face;
    font-size: .7rem;
    height: 20px;
    border-radius: 5px;
}

input {
    width: 50px;
    border-radius: 5px;
}

select {
    width: 55%;
    height: 25px;
}

.matrix-select {
    width: 50px;
}

.check-result {
    width: 14vw;
    height: 3vh;
    border: 1px #000 solid;
    border-radius: 5px;
    background-color: #fff;
    font-size: 1.2rem;
    box-shadow: 2px 2px 5px #000;
    cursor: pointer;
    transition: all .15s ease-in-out;

    &:hover {
        text-decoration: none;
        background-color: rgb(18, 199, 255);
    }
}

.matrix {
    border: 1px #000 solid;
    box-shadow: 4px 4px 8px #4b4b4b;
    background-color: #000;
    border-radius: 8px;
    border-spacing: 3px;
    
}

[class^=matrix-rows],
[class^=matrix-cols] {
    width: 5vh;
    height: 4vh;
    background-color: rgb(0, 96, 252);
    border-radius: 5px;
    text-shadow: 1px 1px 5px #000;
}

.focus-numbers {
    transition: all .25s ease-in-out;
    font-size: 1.5rem;
    color: #000;
    text-shadow: 2px 2px 5px #fff;
}

.matrix-coordinates {
    background-color: lightgreen;
}

.matrix-oper {
    background-color: rgb(18, 199, 255);
    border-radius: 5px;
    text-shadow: 1px 1px 5px #000;
}

.matrix-data {
    width: 5vh;
    height: 4vh;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
}

.matrix-input {
    text-align: center;
    display: flex;
    align-items: center;
    margin: 0 auto;
    border: none;
    background-color: #fff;
    width: 4vh;
    height: 3vh;
    font-size: 1.25rem;

    &:focus {
        border: 2px lightblue solid;
    }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.validation-correct {
    border: 2px lightgreen solid;
}

.validation-incorrect {
    border: 2px rgb(175, 60, 60) solid;
}

.additional-informations {
    display: none;
    background-color: #fff;
    border: 2px rgb(175, 60, 60) solid;
    border-radius: 5px;
    color: #000;
    padding: 10px;
    text-align: center;
}

.subtraction-warning {
    display: none;
    color: black;
    font-size: .7rem;
}

.division-warning {
    display: none;
    color: black;
    font-size: .7rem;
}

@keyframes curtain-effect {
    0% {opacity: 0}
    10% {opacity: .7}
    90% {opacity: .7}
    100% {opacity: 0}
}

@keyframes message-pulse {
    0% {opacity: 0}
    10% {opacity: 1; background-color: rgb(255, 165, 130)}
    30% {background-color: rgb(255, 127, 80)}
    50% {background-color: rgb(255, 165, 130)}
    70% {background-color: rgb(255, 127, 80)}
    90% {opacity: 1; background-color: rgb(255, 165, 130)}
    100% {opacity: 0}
}

.overlay {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background-color: #000;
    z-index: 9;
    animation-name: curtain-effect;
    animation-duration: 1.5s;
    opacity: 0;
}

.inputs-warning {
    display: flex;
    position: absolute;
    top: calc((100vh - 10vh) / 2);
    left: calc((100vw - 30vw) / 2);
    border: 1px #fff solid;
    border-radius: 5px;
    background-color: lightcoral;
    width: 28vw;
    height: 8vh;
    z-index: 99999;
    align-items: center;
    justify-content: center;
    box-shadow: 2px 2px 5px #fff;
    object-fit: cover;
    opacity: 0;
    animation-name: message-pulse;
    animation-duration: 1.5s;
}

.fill-all-inputs {
    display: none;
    position: fixed;
    color: #000;
    font-size: x-large;
    font-weight: 900;
}