@use "../utils/variables.scss";

* {
    margin: 0;
    padding: 0;
    outline: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: variables.$font-face;
    background-color: variables.$landingPage-background-color;
    color: variables.$main-font-color;
    margin: 0 auto;
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

body::-webkit-scrollbar {
    display: none;
}

.container {
    width: 70vw;
    height: 70vh;
    display: grid;
    grid-template-columns: 21% 79%;
    grid-template-rows: 12% 76% 12%;
    margin: 0 auto;
    padding: 0;
}

header {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    width: 100%;
    background-color: lightblue;
    box-shadow: 0 1px 10px #000;
    z-index: 999;
}

nav {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    padding: 25px;
    background-color: lightblue;
    box-shadow: 1px 0 10px #000;
    z-index: 998;
}

main {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    background-color: lightblue;
    padding: 50px;
    display: inline;
}

footer {
    grid-column: 1 / 3;
    grid-row: 3 / 4;
    background-color: yellow;
    box-shadow: 0 -1px 10px #000;
    z-index: 999;
}

.select-text {
    margin: 0 5px 0 10px;
    color: #000;
    font-size: .7rem;
}

label {
    color: #000;
    margin: 0 10px 0 0;
}

select, 
input {
    font-family: variables.$font-face;
    font-size: .7rem;
    height: 20px;
}

input {
    width: 50px;
}

select {
    width: 55%;
    height: 25px;
}

.generate-matrix-button {
    width: 100%;
    height: 50px;
    border: 1px #000 solid;
    border-radius: 15px;
    background-color: #fff;
    font-size: 1.2rem;
    box-shadow: 2px 2px 5px #000;
    cursor: pointer;
    transition: all .15s ease-in-out;

    &:hover {
        text-decoration: none;
        background-color: rgb(90, 140, 156);
    }
}

.matrix {
    border: 2px #000 solid;
}

.matrix-rows,
.matrix-cols {
    width: 5vh;
    height: 4vh;
    background-color: rgb(70, 70, 70);
}

.matrix-oper {
    background-color: rgb(119, 80, 7);
}

.matrix-data {
    width: 5vh;
    height: 4vh;
    background-color: rgb(255, 255, 255);
}