@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700");

// fonts
$font-face: 'Open Sans', sans-serif;
$main-font-color: #fff;
$link-color: #472063;

// backgrounds
$landingPage-background-color: #000;
$navbar-background-color: rgba(256,256,256,0.5);
$landingPage-btn-background-color: #d469a5;
$landingPage-btn-hover-color: #fa75ad;